:root {
  --primary-color: #ed4948;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1100px;
}

@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@import url("https://use.typekit.net/ogd2mxl.css");

.category {
  --sports-color: #f99500;
  --ent-color: #a66bbe;
  --tech-color: #009cff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spectral", serif;
  // line-height: 1.5;
  background: var(--light-color);
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin-bottom: 0.75rem;
}

// img {
//   width: 100%;
// }

/* utilities */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

/* Navigation */
#main-nav {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}

#main-nav .container {
  display: flex;
  flex-wrap: wrap;
  grid-template-rows: 1fr;
  padding: 1rem;
  align-items: center;
  height: 74px;
}

#main-nav .logo {
  width: 200px;
}

#main-nav ul {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

#main-nav ul li a {
  padding: 0.75rem;
  // font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 3rem;
  justify-self: end;
  font-family: futura-pt, sans-serif;
  font-size: 12.6px;
  color: var(--dark-color);
}

#main-nav ul li a:hover {
  color: var(--primary-color);
}

#main-nav .current {
  color: var(--primary-color);
  display: inline-block;
  position: relative;
}

.current::before {
  transform: translateX(-50%);
  border-radius: 100%;
  position: absolute;
  background: var(--primary-color);
  height: 6px;
  content: "";
  width: 6px;
  left: 50%;
  bottom: 2px;
}

#about p {
  color: #333;
  line-height: 3rem;
  padding-top: 30px;
  text-align: center;
  font-size: 18px;
  margin: 2rem 35rem;
  font-family: futura-pt, sans-serif;
  font-size: 18px;
}
#about .intro {
  font-family: "Spectral", serif;
  font-style: italic;
  font-size: 32.4px;
  line-height: 5rem;
  margin: 10rem 15rem 3rem 15rem;
  text-align: center;
}

#grid_image .gridimage {
  padding: 5rem 10rem;
  margin-bottom: 5rem;
  // padding-left: 10rem;
  // padding-right: 10rem;
}
// ~~~~~~~~~~~~~~ Carousel ~~~~~~~~~~~~~~~~~~~~~~`

.carousel-caption {
  position: absolute;
  bottom: 30% !important;
  display: grid;
  grid-gap: 10px;
}

.carousel-caption {
  h1 {
    font-family: "Spectral", serif;
    font-size: 54px;
    font-style: italic;
  }
  h3 {
    font-family: futura-pt, sans-serif;
    font-size: 25.2px;
  }
}

/* Button */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #ed4948;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

/* Highlighter lines */

.bottom-line1 {
  height: 0.6rem;
  width: 20rem;
  background: var(--primary-color);
  display: block;
  border-radius: 10px;
  margin: 0 auto;
}

.bottom-line2 {
  height: 0.6rem;
  width: 20rem;
  background: var(--light-color);
  display: block;
  // margin: 0 auto 0 auto;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 15px;
}

/* Flex columns */
.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
}

.bg-secondary {
  background-color: var(--primary-color);
  color: #fff;
}

// Services section
#card-grid img {
  width: 60px;
}
